@font-face {
  font-family: "Rejoy";
  src: url("../assets/NBInternationalProBoo.ttf") format("woff2"),
    url("../assets/NBInternationalProBoo.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rejoy";
  src: url("../assets/Rejouice-Headline.ttf") format("woff2"),
    url("../assets/Rejouice-Headline.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
}

.spacifyer-letter {
  letter-spacing: 80px;
}
